<div class="con">
    <section class="form_wrap">

        <section class="cantact_info">
            <section class="info_title">
                <span class="fa fa-user-circle"></span>
                <h2>INFORMACION<br>DE CONTACTO</h2>
            </section>
           
        </section>

        <form action="" class="form_contact">
            
            <div class="user_info">
                <label for="names">Nombres *</label>
                <input type="text" id="names">

                <label for="phone">Telefono / Celular</label>
                <input type="text" id="phone">

                <label for="email">Correo electronico *</label>
                <input type="text" id="email">

                <label for="mensaje">Direccion</label>
                <textarea id="mensaje"></textarea>
                <label for="email">Codigo postal</label>
                <input type="text" id="email">

                <input type="button" value="Enviar" id="btnSend">
            </div>
        </form>

    </section>
    </div>